/* Estilos generales */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    margin-bottom: 3em;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del header y la navegación */
header {
    background-color: #ffffff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav a {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    font-weight: bold;
}

.nav-right {
    display: flex;
}

/* Estilos del main y la galería */

.project-bars {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
}

.project-bar {
    position: relative;
    width: 100%;
    margin-bottom: 0%;
    overflow: hidden;
}

.project-bar img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: filter 0.3s ease; /* Agregamos una transición para suavizar el cambio de filtro */
}

.project-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px; /* Tamaño del texto */
    color: white; /* Color del texto */
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.3s ease; /* Agregamos una transición para suavizar el cambio de opacidad */
}

.project-bar:hover img {
    filter: brightness(0.7); /* Oscurecemos la imagen al pasar el mouse sobre ella */
}

.project-bar:hover .project-name {
    opacity: 1; /* Mostramos el nombre del proyecto al pasar el mouse sobre la barra */
}

.about-content {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding: 20px;
    background-color: white;

}

.timeline {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 3em;
    margin-left: 15em;
    margin-top: auto;
    text-align: left;
    position: relative;
    padding: 0 40px;
}
.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px; /* Ajusta según sea necesario */
    width: 2px;
    height: 100%;
    background-color: #272727; /* Color de la línea */
}


.timeline ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.timeline li {
    margin-bottom: 20px;
    line-height: 1.2;

}
.timeline p {
    margin-bottom: 0,5px; /* Ajusta este valor para cambiar el espacio entre párrafos */
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3em;
}

.profile-pic img {
    border-radius: 50%;
    width: 300px;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
}

.profile-info {
    margin-top: 60px;
    max-width: 300px; /* Ajusta este valor al ancho de tu imagen */
    text-align: justify;
}

.profile-info h1 {
    margin-top: 0;
    font-size: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.project-page {
    margin-bottom: 3em; /* Margen inferior blanco específico para páginas de proyecto */
}
.large-image {
    margin-top: 20px; /* Espacio opcional para separarla de la galería */
}

.large-image img {
    width: 60%; /* Ancho deseado para la imagen grande */
    height: auto; /* Altura automática para mantener la proporción */
    max-width: 100%; /* Asegura que no se desborde del contenedor */
    display: block; /* Para centrarla horizontalmente */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.container {
   display: flex;
    flex-direction: row; /* Cambia la dirección de columna a fila */
    align-items: flex-start;
    justify-content: space-between; /* Espacio uniforme entre la izquierda y la derecha */
    margin: 20px; /* Ajusta el margen según tus necesidades */

}

.texto {
    align-items: center;
    flex: 2; /* Ocupa más espacio en el contenedor */
    margin-right: 10em; /* Espacio entre la descripción y la lista de herramientas */
    max-width: 500px;

}

.herramientas {
    flex: 1; /* Ocupa menos espacio en el contenedor */

}

h1, p {
    margin: 0; /* Elimina el margen por defecto para mayor control */
    padding: 0; /* Elimina el padding por defecto */
}

p {
    margin-bottom: 10px; /* Espacio entre párrafos */
}
/* Contenedor principal del carrusel */
.carousel-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 200px; /* Ajusta la altura según lo desees */
    background-color: rgba(0, 0, 0, 0); /* Fondo semitransparente opcional */
    display: flex;
    justify-content: center; /* Centra el carrusel horizontalmente */
    align-items: center;
    overflow: hidden; /* Oculta las imágenes fuera de la vista */
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    flex: 0 0 calc(33.33% - 20px); /* Tres imágenes visibles con espacio entre ellas */
    margin: 0 10px;
}

.carousel-slide img {
    width: 100%;
    height: 100%; /* Asegura que todas las imágenes tengan la misma altura */
    object-fit: cover; /* Ajusta la imagen para que ocupe el espacio sin deformarse */
    border-radius: 10px; /* Bordes redondeados opcional */
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Título de la página */
.contact-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Contenedor de la información de contacto */
.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;

}

/* Estilo para cada elemento de contacto */
.contact-item {
    width: 45%;

}

/* Títulos de los elementos de contacto */
.contact-item h2 {
    font-size: 1em;
    margin-bottom: 10px;
}

/* Enlaces de contacto */
.contact-item a {
    color: #579810;
    text-decoration: none;
    font-weight: bold;
}

.contact-item a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }
    .profile-pic {
        margin: 0 auto; /* Centrar el contenedor de la imagen */
    margin-right: 3em;
    margin-left: 3em;
    }
    .profile-pic img{
        width: 200px; /* Ancho reducido para pantallas pequeñas */
        height: auto; /* Alto reducido para pantallas pequeñas */
    }
    .profile-info {
        margin-right: 3em;

    }
    .timeline  {
        margin-top: 20px;
        width: 50%;
        text-align:left;
        margin-left: 3em;
    }
    .contact-item {
        width: 100%;
    }
}
