/* Estilos generales */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del header y la navegación */
header {
    background-color: #ffffff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav a {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    font-weight: bold;
}

.nav-right {
    display: flex;
}

/* Estilos del main y la galería */

.project-bars {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
}

.project-bar {
    position: relative;
    width: 100%;
    margin-bottom: 0%;
    overflow: hidden;
}

.project-bar img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: filter 0.3s ease; /* Agregamos una transición para suavizar el cambio de filtro */
}

.project-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px; /* Tamaño del texto */
    color: white; /* Color del texto */
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.3s ease; /* Agregamos una transición para suavizar el cambio de opacidad */
}

.project-bar:hover img {
    filter: brightness(0.7); /* Oscurecemos la imagen al pasar el mouse sobre ella */
}

.project-bar:hover .project-name {
    opacity: 1; /* Mostramos el nombre del proyecto al pasar el mouse sobre la barra */
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: white;

}

.timeline {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 3em;
    margin-left: 5em;
}

.timeline ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.timeline li {
    margin-bottom: 20px;
    line-height: 1.2;

}
.timeline p {
    margin-bottom: 0,5px; /* Ajusta este valor para cambiar el espacio entre párrafos */
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3em;
}

.profile-pic img {
    border-radius: 50%;
    width: 300px;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
}

.profile-info {
    margin-top: 60px;
    max-width: 300px; /* Ajusta este valor al ancho de tu imagen */
    text-align: justify;
}

.profile-info h1 {
    margin-top: 0;
    font-size: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}


/* Para galeria de cada proyecto */

.container {
    text-align: center;
    text-align: center;
    margin-top: 50px;
    max-width: 400px; /* Ajusta este valor según el ancho deseado */
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; /* Espaciado horizontal */
}

.imagen-proyecto {
    width: 10em; /* Tamaño base para las imágenes pequeñas */
    height: auto;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 20px;
}
.gallery {
    text-align: center; /* Asegura que las imágenes estén centradas */
    margin-top: 50px; /* Espaciado opcional entre el texto y la galería */
}

.large-image {
    margin-top: 20px; /* Espacio opcional para separarla de la galería */
}

.large-image img {
    width: 60%; /* Ancho deseado para la imagen grande */
    height: auto; /* Altura automática para mantener la proporción */
    max-width: 100%; /* Asegura que no se desborde del contenedor */
    display: block; /* Para centrarla horizontalmente */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Título de la página */
.contact-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Contenedor de la información de contacto */
.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

/* Estilo para cada elemento de contacto */
.contact-item {
    width: 45%;

}

/* Títulos de los elementos de contacto */
.contact-item h2 {
    font-size: 1em;
    margin-bottom: 10px;
}

/* Enlaces de contacto */
.contact-item a {
    color: #579810;
    text-decoration: none;
    font-weight: bold;
}

.contact-item a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }
    .profile-pic {
        margin: 0 auto; /* Centrar el contenedor de la imagen */
    margin-right: 3em;
    margin-left: 3em;
    }
    .profile-pic img{
        width: 200px; /* Ancho reducido para pantallas pequeñas */
        height: auto; /* Alto reducido para pantallas pequeñas */
    }
    .profile-info {
        margin-right: 3em;

    }
    .timeline  {
        margin-top: 20px;
        width: 50%;
        text-align:left;
        margin-left: 3em;
    }
    .contact-item {
        width: 100%;
    }
}
